@import '../../../../global-style/mixins.scss';


.outerWrapper {
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index        : 100;
    position       : fixed;
    top            : 0;
    bottom         : 0;
    left           : 0;
    right          : 0;

    .wrapper {
        height          : 100%;
        width           : 100%;
        position        : absolute;
        background-color: rgba($color: #000000, $alpha: 0.2);

    }

    .post-details-modal {
        @include soft-shadow;
        width           : 70vw;
        background-color: white;
        z-index         : 101;
        padding         : 3rem;
        position        : relative;
        max-height: 90vh;
        overflow: auto;

        @include at-xs-screen{
            width: 100vw;
            height: 100vh;
        }

        .buttons {
            position: absolute;
            top     : 0;
            right   : 0;
            margin  : 0.2rem;
            button {
                cursor  : pointer;
                color   : var(--primary-color);
                background-color: white;
            }
        }

        .editPost {
            display       : flex;
            flex-direction: column;

            .inputs {
                display        : flex;
                justify-content: center;
                flex-direction : column;

            }
        }

        .post-title {
            @include whiteHeadline($size: 1.2rem);
            color                       : var(--primary-color);
        }
        .post-body {
            max-height: 60vh;
            overflow-y: auto;
        }

        button {
            padding       : 0.4rem;
            background    : var(--primary-color);
            color         : white;
            border        : none;
            text-transform: capitalize;
        }
    }
}