@import '../../../../global-style/mixins.scss';


.outerWrapper {
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index         : 100;
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    .wrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.2);
        
    }

    .post-details-modal {
        @include soft-shadow;
        height          : 90vh;
        width           : 70vw;
        background-color: white;
        z-index         : 101;
        padding: 2rem;
        .editPost {
            display: flex;
            flex-direction: column;
            h1 {
                @include whiteHeadline($size: 1.2rem);
                color: var(--primary-color);
            }
        }
    
    }
}