@import '../../../../../global-style/mixins.scss';

.header {
    width     : 100%;
    background: var(--primary-color);
    display   : flex;
    position  : fixed;
    min-height: 5rem;
    z-index: 10;

    a {
        @include bold-white;
        text-decoration: none;
    }

    .header-nav {
        @include left-rigth-padding;
        @include soft-shadow;
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        
        .site-logo-wrapper {
            height: max-content;
            @include left-rigth-padding;
            .site-logo {
                @include bold-white;
                text-decoration: none;
                font-size      : 2.5rem;
                display        : block;
            }
        }
    }

    .header-links {
        @include bold-white;
        list-style-type: none;
        display: flex;
        li {
            @include left-rigth-padding(10px);
        }
    }
}