@import '../../../../global-style/mixins.scss';

.body-wrapper {
    width          : 100%;
    display: flex;
    justify-content: center;
    align-items  : center;
    flex-direction: column;
    margin-top     : 4rem;

    .post-container {
        width                : 80%;
        display              : grid;
        column-gap           : 1rem;
        
        @include at-xl-screen {
            grid-template-columns: repeat(4, 23.8%);
        }
        @include at-l-screen {
            grid-template-columns: repeat(3, 32%);
        }
        @include at-s-screen {
            grid-template-columns: repeat(2, 49%);
        }
        @include at-xs-screen {
            display: flex;
            width: 90vw;
            flex-direction: column;
        }
        app-post {
            margin-bottom: 1rem;
        }
    }
    .post-container-title {
        @include whiteHeadline(2rem);
        color: var(--primary-color);
        padding-bottom: 1rem;
        .h2 {
            @include soft-shadow;
        }
    }
}