@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'reset-css';

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.no-scroll {
    height: 100%;
    overflow-y: hidden;
}

:root {
    --primary-color: #1E6091;
    --secondary-color: #168AAD;
    --tertiary-color: #52B69A;
    --error-color: #EE6055;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
